/* 
COLORS:
dark blue (text) - #0D3B66
red-karmin (logo) - #F95738
ohr (selected) - #F4D35E
light-ohr (elements) - #FAF0CA
white (background body) - #FFFFFF

light-gray - #969595
gray - #4b4949
*/

/*
logo and (maby) some big texts - 
font-family: 'Alegreya SC', serif;
*/

html,
body {
    color: #0D3B66;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 5px #0D3B66;    
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.filler-header {
    width: 100%;
    height: 70px;
}

.logo-wrp {
    font-family: 'Alegreya SC', serif;
    font-weight: 500;
    font-size: 40px;
    font-style: italic;
    color: #F95738;
    display: flex;    
}

.logo-icon-wrp {
    margin-right: 10px;
    height: 32px;
    display: flex;    
    fill: #F95738;
    cursor: pointer;
}

.logo-text-wrp {
    cursor: pointer;
}

.search-wrp {
    width: 65%;        
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    
    
}

.search-input {
    width: 100%;
    border: 1px solid #969595;
    border-right: none;
    padding: 6px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
}

.search-input:focus {
    border: 2px solid rgb(60, 72, 240);
}

.search-btn {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border: 1px solid #969595;    
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    fill: #4b4949;
    background-color: #FFFFFF;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #dddbdb;
}

.voice-icon-wrp {
    margin-left: 10px;
    height: 24px;
    display: flex;    
    fill: #969595;
    cursor: pointer;
}

.voice-icon-wrp:hover {
    fill: #4b4949;
}

.account-wrp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bell-wrap {
    margin-right: 20px;
    height: 24px;
    display: flex;    
    fill: #969595;
    cursor: pointer;
}

.bell-wrap:hover {
    fill: #4b4949;
}

.test-content {
    height: 1000px;
    width: 200px;
    background-color: aquamarine;
    
}

.test-btn {
    height: 32px;
    width: 32px;
}