/* 
COLORS:
dark blue (text) - #0D3B66
red-karmin (logo) - #F95738
ohr (selected) - #F4D35E
light-ohr (elements) - #FAF0CA
white (background body) - #FFFFFF

light-light-gray -  #dddbdb
light-gray - #969595
gray - #4b4949
*/

/*
logo and (maby) some big texts - 
font-family: 'Alegreya SC', serif;
*/

html,
body {
    color: #0D3B66;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    font-weight: 700;
}

header {
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 5px #0D3B66;    
    padding: 15px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    background-color: #FFFFFF;
}

.filler-header {
    width: 100%;
    height: 70px;
}

.logo-wrp {
    font-family: 'Alegreya SC', serif;
    font-weight: 500;
    font-size: 40px;
    font-style: italic;
    color: #F95738;
    display: flex;    
}

.logo-icon-wrp {
    margin-right: 10px;
    height: 32px;
    display: flex;    
    fill: #F95738;
    cursor: pointer;
}

.logo-text-wrp {
    cursor: pointer;
    margin-right: 10px;
}

.search-wrp {
    width: 60%;        
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    flex-grow: 1; 
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 60%;
    border: 1px solid #dddbdb;
    border-right: none;
    padding: 7px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
}

.search-input:focus {
    border: 2px solid #F4D35E;
}

.search-btn {
    display: flex;
    width: 32px;
    height: 31px;
    justify-content: center;
    align-items: center;
    border: 1px solid #dddbdb;    
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    fill: #dddbdb;
    background-color: #FFFFFF;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #FAF0CA;
    fill: #F4D35E;
}

.voice-icon {
    margin: 0 10px 0 10px;
    height: 24px;
    display: flex;    
    fill: #dddbdb;
    cursor: pointer;
}

.voice-icon:hover {
    fill: #F4D35E;
}

.account-wrp {
    display: flex;
    justify-content: left;
    align-items: center;
}

.bell-wrap {
    margin-right: 10px;
    height: 24px;
    display: flex;    
    fill: #dddbdb;
    cursor: pointer;
}

.bell-wrap:hover {
    fill: #F4D35E;
}

.menu-wrap {
    display: flex;       
    background-color: #F95738;
    height: 40px;
    width: 40px;
    fill: #0D3B66;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 30px;
}

.menu-wrap:hover {
    background-color: #F4D35E;
    fill: #0D3B66;
}

.menu-icon {
    height: 20px;
    position: relative;
    display: inline-block;
}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 1px 4px 0px #0D3B66;
    z-index: 2;
    border-radius: 4px;
  } 
  
  .dropdown-content a {
    color: #0D3B66;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
  
  .dropdown-content a:hover {background-color: #FAF0CA}
  
  .menu-wrap:hover .dropdown-content {
    display: block;
  }

  .icon-drop-item {
    height: 16px;
    margin-right: 12px;
    fill: #0D3B66;
  }
  
  .dropdown-content a:last-child {
    color: #F95738;    
    border-top: 1px solid #969595;    
  }
 
  aside {
    width: 250px;
    background-color: #FAF0CA;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 70px;
    bottom: 0;        
}

.streamers-list {
    width: 250px;    
    display: flex;
    flex-direction: column;    
    overflow-y: auto;
    overflow-x: hidden;    
}

.streamer-info-card {
    width: 250px;
    height: 70px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.streamer-info-card:hover {
    background-color: #F4D35E;
}

.streamer-avatar {
    height: 40px;
    width: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin: 0 15px 0 15px;
}



.streamer-username {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;    
    width: 100px;
}

.streamer-username:hover {
    color: #F95738;
}

.wievers-amount {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;    
    width: 50px;
    text-align: right;
    padding-right: 15px;
}

.blob {
    display: inline-block;
    background: black;
	border-radius: 50%;
	margin: 1px;
	height: 12px;
	width: 12px;
}

.blob.red {
    background: rgba(255, 82, 82, 1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
  }
  
  @keyframes pulse-red {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
  }

  .blob.red.offline {
    opacity: 0;
  }

.outer-info-block {
    border-top: 2px solid #FFFFFF;   
}

.info-block {
    width: 220px;
    height: 140px;
    margin: 15px;
    background-color: #F4D35E;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.text-info {
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    
}

.text-info::selection {
    color: #FAF0CA;
    background: #F95738;
}

.contact-icons-wrp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.contact-icon {
    height: 24px;
    fill: #0D3B66;    
}

.contact-icon:hover {
    fill: #F95738;
}

main {
    padding-left: 250px;
    height: 2000px;
}

.categoryes-block {
    height: 70px;
    display: grid;
    grid-gap: 15px;    
    margin-left: 15px;
    margin-right: 15px;
    grid-template-columns: repeat(25, minmax(min-content, max-content));
    grid-template-rows: 70px;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.categoryes-block::-webkit-scrollbar { 
    display: none; 
}

.caterory-item {
    background-color: #FAF0CA;
    border: 1px solid #969595;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    height: 20px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.caterory-item:hover {
    background-color: #F4D35E;
}

.categoryes-block div:first-child {
    color: #FFFFFF;
    background-color: #F95738;
    border: 1px solid #F95738;
}

.carousel-wrp {    
    height: 450px;
    text-align: center;
    background-color: #FAF0CA;
    margin: 0 15px 0 15px;
}

.videopanel-block {
    display: grid;
    grid-gap: 15px;    
    margin: 0 15px 0 15px;
    background-color: #969595;
}


@media screen and (max-width:1200px) {
    aside {
        width: 70px;
    }

    main {
        padding-left: 70px;
    }

    .streamers-list {
        width: 70px;
    }

    .outer-info-block {
        display: none;
    }

    .streamer-info-card {
        width: 70px;
    }

    .blob,
    .wievers-amount,
    .streamer-username {
        display: none;
    }
}

@media screen and (min-height:650px) {

    #bulka {
        z-index: 1;
    }
    
    #bulka:hover {
        opacity: 0;
    }
    
    .easter-egg {
        position: absolute;
        height: 40px;
        width: 40px;
        background-color: #FFFFFF;
        border-radius: 50%;
        margin: 0 15px 0 15px;
    }

}

@media screen and (max-height:649px) {

    .easter-egg {
        display: none;
    }

}